body {
  font-family: var(--font-family);

  background-color: var(--color-blue-2);
  display: flex;
  justify-content: center;

  &[data-theme="dark"] {
    background-color: #1a1a1a;
  }
}

h1 {
  font-size: 40px;
}

a,
button,
label,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

