:root {
  --color-black: #000000;
  --color-light: #f9f7f7;

  --color-gray-1: #b1b1b1;
  --color-gray-2: #7b7b7b;

  --color-blue-1: #dbe2ef;
  --color-blue-2: #3f72af;
  --color-blue-3: #112d4e;

  --container-content-width: 490px;
  --container-padding-width: 55px;

  --font-family: 'Ubuntu', sans-serif;

  --input-height: 32px;

  --border-radius-l: 20px;

  --transition-duration: 0.2s

}